<div class="d-flex flex-column align-items-center">
  <h1>Hello rails</h1>
  <p> Yana, Vladislav and Oleksandr</p>

  <div class="container">
    <div class="row">
      <% @links.each do |link| %>
        <div class="col-md-4">
          <div class="card mb-3">
            <img src="<%= link.image_src %>" class="card-img-top" alt="link image">
            <div class="card-body">
              <h5 class="card-title"><%= link.name %></h5>
              <p class="card-text"><%= link.text_content %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


<!--  <h2> Teachers </h2>-->
<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">ID</th>-->
<!--      <th scope="col">Email</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
    <%# @teachers.each do |teacher| %>
<!--      <tr>-->
<!--        <td><%#= teacher.id %></td>-->
<!--        <td><%#= teacher.email %></td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->

<!--  <h2> Students </h2>-->
<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">ID</th>-->
<!--      <th scope="col">Email</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
    <%# @students.each do |student| %>
<!--      <tr>-->
<!--        <td><%#= student.id %></td>-->
<!--        <td><%#= student.email %></td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->
</div>
