<div id="<%= dom_id subject_teacher %>">
  <p>
    <strong>Subject:</strong>
    <%= subject_teacher.subject_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= subject_teacher.teacher_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= subject_teacher.group_id %>
  </p>

</div>
