<p>
  <strong class="card-title">Subject id:</strong>
  <%= subject.id %>
</p>

<p>
  <strong class="card-text">Name:</strong>
  <%= subject.title %>
</p>
<p>
  <strong class="card-text">Hours count:</strong>
  <%= subject.hours %>
</p>

