<div class="d-flex flex-column align-items-center">
  <p style="color: green"><%= notice %></p>

  <h1>New subject</h1>

  <%= render "form", subject: @subject %>
  <%= link_to "Back to subjects", subjects_path, class: "btn btn-secondary mt-3" %>
</div>
