<p style="color: green"><%= notice %></p>

<%= render @teacher %>

<div>
  <% if current_teacher.id == @teacher.id %>
    <%= link_to t("common.edit"), edit_teacher_path(@teacher), class: "btn btn-primary m-2 rounded" %>
  <% end %>
  <%= button_to  "#{t("common.destroy")} #{t("common.this")} #{t("teacher")}", @teacher, class: "btn btn-danger m-2 rounded", method: :delete %>
</div>
